@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Greeting"]</h1>
    <p>This is from staging site </p>

    Person from dataBase  @ViewData["Persons"] ;

    
</div>
